<p>
  Здравствуйте {{name}},
</p>
<p>
  Пожалуйста пройдите по ссылке и активируйте свою почту
</p>
<p>
  <a href="{{url}}">
    Подтвердить
  </a>
</p>
<p>
  Если это письмо пришло Вам случайно, просто проигнорируйте его.
</p>