<p>
  Здравствуйте!,
</p>
<p>
  Для восстановления скопируйте код и вставьте в форму восстановления пароля: {{
    token
  }}
</p>

<p>
  Если это письмо пришло Вам случайно, просто проигнорируйте его.
</p>